mixin scripts
  script(src='assets/js/misc/jquery.js', type='text/javascript')
  script(src='assets/js/misc/tools.js', type='text/javascript')
  script(src='assets/js/data.js', type='text/javascript')
  script(src='assets/js/functions.js', type='text/javascript')

mixin title
  .main
    h1.text Press A Key, Scroll Down.

mixin tutorial
  .tutorial
    .keys
      h1 Keys:
      ul
        li "=": Hold down to shift audio.
        .gap
        li Q – Work It
        li W – Make It
        li E – Do It
        li R – Makes Us
        li T – Harder
        li Y – Better
        li U – Faster
        li I – Stronger
        li O – More Than
        li P – Hour
        li A – Our
        li S – Never
        li D – Ever
        li F – After
        li G – Work Is
        li H – Over
      
    .lyrics
      h1 Lyrics
      .scroll
        p Work it
        p Make it
        p Do it
        p Make us
        
        br
        
        p Harder
        p Better
        p Faster
        p Stronger
        
        br

        p More than
        p Hour
        p Our
        p Never
        
        br

        p Ever
        p After
        p Work is
        p Over
        
        br

        p Work it
        p Make it
        p Do it
        p Make us
        
        br

        p Harder
        p Better
        p Faster
        p Stronger
        
        br

        p Work it harder
        p Make it better
        p Do it faster
        p Makes us stronger
        
        br

        p More than ever
        p Hour after
        p Our work is
        p Never over
        
        br

        p Work it harder
        p Make it better
        p Do it faster
        p Makes us stronger
        
        br

        p Work it harder
        p Make it better
        p Do it faster
        p Makes us stronger
        
        br

        p Work it harder
        p Make it better
        p Do it faster
        p Makes us stronger
        
        br

        p Work it harder
        p Make it better
        p Do it faster
        p Makes us stronger
        
        br

        p Work it harder
        p Make it better
        p Do it faster
        p Makes us stronger
        
        br

        p Work it harder
        p Make it better
        p Do it faster
        p Makes us stronger
        
        br

        p Work it harder make it
        p Do it faster makes us
        p More than ever hour
        p Our work is
        
        br

        p Work it harder make it
        p Do it faster makes us
        p More than ever hour
        p Our work is never over
        
        br

        p Work it harder
        p Make it better
        p Do it faster
        p Makes us stronger
        
        br

        p Work it harder make it
        p Do it faster makes us
        p More than ever hour
        p Our work is
        
        br

        p Work it harder make it
        p Do it faster makes us
        p More than ever hour
        p Our work is never over
        
        br

        p Work it harder
        p Make it better
        p Do it faster
        p Makes us stronger
        
        br

        p Work it harder
        p Do it faster
        p More than ever
        p Our work is never over
        
        br

        p Work it harder
        p Make it better
        p Do it faster

        
